@import "../../node_modules/@fortawesome/fontawesome-pro/css/all.css";
@import "../../node_modules/normalize.css/normalize.css";
@import "./_colors";


@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i");
@import "./hw-react-components/_accordion";
@import "./hw-react-components/_alert";
@import "./hw-react-components/_buttons";
@import "./hw-react-components/_card";
@import "./hw-react-components/_checkbox";
@import "./hw-react-components/_description-list";
@import "./hw-react-components/_form";
@import "./hw-react-components/_geo-location-input";
@import "./hw-react-components/_input";
@import "./hw-react-components/_label";
@import "./hw-react-components/_modal";
@import "./hw-react-components/_page-title";
@import "./hw-react-components/_popupmodal";
@import "./hw-react-components/_radio";
@import "./hw-react-components/_section-title";
@import "./hw-react-components/_toast";
@import "./hw-react-components/_tooltip";
@import "./hw-react-components/_modal";
@import "./hw-react-components/_popupmodal";
@import "./hw-react-components/_select";
@import "./hw-react-components/_steps";
@import "./hw-react-components/_stepanchor";
@import "./hw-react-components/_well";

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: $text;
}

a {
  color: $primary-shade1;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
